<template>
  <b-tabs>
    <b-tab title="ประชาสัมพันธ์"><Info></Info></b-tab>
    <b-tab title="ตรวจผล"><Verify></Verify></b-tab>
    <b-tab title="ประวัติ"><History></History></b-tab>
  </b-tabs>
</template>
<script>
import Info from '../views/Info.vue'
import Verify from '../views/Verify.vue'
import History from '../views/History.vue'
export default {
  components: {
    Info,
    Verify,
    History
  }
}
</script>
<style></style>
