<template>
  <div>
    <b-navbar toggleable="lg" text="FF" variant="light">
      <b-navbar-brand href="/">InformaticsBUU</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="/informations">หน้าหลัก</b-nav-item>
          <b-nav-item href="/history" >ประวัติ</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-dropdown-item href="#">โปรไฟล์</b-dropdown-item>
          <b-dropdown-item href="#">ออกจากระบบ</b-dropdown-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
