<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3">
        <Main></Main>
      </div>
    </div>
  </div>
</template>
<script>
import Main from '../components/Main.vue'

export default {
  components: {
    Main
  }
}
</script>
<style></style>
