<template>
  <div class="mt-4 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card overflow-hidden mb-4">
      <div class="card-header">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="ค้นหา" />
          <button class="btn btn-outline-secondary" type="button">
            <b-icon icon="search"></b-icon>
          </button>
        </div>
      </div>
      <div
        class="list-group rounded-0"
        v-for="train in trains"
        :key="train._id"
      >
        <div
          class="list-group-item border-start-0 border-end-0 py-3 border-top-0"
        >
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img
                class="avatar avatar-sm p-1"
                src="https://therichpost.com/wp-content/uploads/2021/03/avatar2.png"
                alt="Jassa Rich"
              />
            </div>
            <div class="flex-grow-1 ps-1">
              <p class="fs-20 float-right text-muted">
                {{ format_date(train.datePost) }}
              </p>
              <h5 class="fw-bold col-xl-12 col-lg-12 col-md-12 col-sm-9 col-9">
                {{ train.title }}
              </h5>
              <p
                class="fw-bold text-muted col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
              >
                {{ train.narrator }}
              </p>
              <p
                class="text-muted col-xl-10 col-lg-11 col-md-10 col-sm-9 col-10"
              >
                {{ train.description }}
              </p>
            </div>
          </div>
          <ShowDetail :train="train" ref="showDetails"></ShowDetail>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ShowDetail from './ShowDetail.vue'
import moment from 'moment'
export default {
  components: {
    ShowDetail
  },
  data () {
    return {
      trains: [
        {
          _id: 1,
          title: 'การเขียน Resume',
          description:
            'บริษัท LINE MAN Wongnai Engineering ขยายทีมอย่างยิ่งใหญ่ รับเพิ่มอีกกว่า 200 อัตรา ขอเชิญร่วมงานกับเรา เพื่อพัฒนาแพลตฟอร์มสำหรับธุรกิจอาหารแบบครบวงจรที่มีจำนวนผู้เข้าใช้งานหลายล้านคนต่อเดือน',
          conditions: {
            faculty: 'IF',
            programe: '-',
            class: '4'
          },
          narrator: 'บริษัท SCB',
          place: '-',
          link: 'www.meet.com',
          dateTrain: '30 มิถุนายน 2565 เวลา 08.00 น.',
          numberOfHours: '5',
          amount: '100',
          datePost: '2022-03-09T09:31:29.117Z'
        },
        {
          _id: 2,
          title: 'โครงการ Python Coding Camp+',
          description:
            'ได้รับความอนุเคราะห์จากอาจารย์นิวร ศรีคุณ อาจารย์จากคณะวิทยาศาสตร์ มหาวิทยาลัยบูรพา รศ.ดร.จันทนา ปัญญาวราภรณ์ อาจารย์จากคณะวิศวกรรมศาสตร์ มหาวิทยาลัยบูรพา และอาจารย์วรวิทย์ พูลสวัสดิ์ อาจารย์จากคณะวิทยาศาสตร์และศิลปศาสตร์ มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี ซึ่งเป็นคณะกรรมการตัดสินผลผู้มีประสบการณ์ในการตัดสินผลเป็นอย่างดี ในการร่วมแลกเปลี่ยนประสบการณ์ และแลกเปลี่ยนความคิดเห็นในการพัฒนาโปรแกรม เกณฑ์การตัดสินคะแนนในหมวดต่างๆ พร้อมทั้งให้ข้อเสนอแนะเกี่ยวการการหาหัวข้อในการเขียนข้อเสนอโครงการฯ ซึ่งในการบรรยายพิเศษ อาจารย์ที่ปรึกษา และนิสิต ได้รับข้อมูล และเทคนิค ที่สำคัญในด้านต่างๆ พร้อมทั้งประสบการณ์ใหม่ๆ เพื่อเป็นแนวทางในการเขียนโครงการในปีต่อไป',
          conditions: {
            faculty: 'IF',
            programe: '-',
            class: '1'
          },
          narrator: '@InformaticsBUU',
          place: '-',
          link: 'www.meet.com',
          dateTrain: '25 มิถุนายน 2565 เวลา 08.00 น.',
          numberOfHours: '6',
          amount: '200',
          datePost: '2022-03-09T09:32:07.173Z'
        },
        {
          _id: 3,
          title: 'อบรมการเตรียมตัวอบรมสมัครงาน',
          description:
            'สำหรับ  บริษัท ฟอร์เวิร์ด แมเนจเม้นท์ เซอร์วิส จำกัด ( FMS )  เป็นตัวแทนจำหน่ายโปรแกรมสำเร็จรูป Sage 300,  Sage X3,  Sage CRM   และ SAP Business One ได้ติดตั้งและอบรมการใช้งานโปรแกรมให้กับองค์กรชั้นนำในภาคอุตสาหกรรม ทั้งธุรกิจการผลิต ธุรกิจการจัดจำหน่าย,ธุรกิจอสังหาริมทรัพย์ มานานกว่า 28 ปี  ลูกค้าหลักส่วนหนึ่งของเรา  ได้แก่ Thai PBS, IMPACT, TOYOTA TSUSHO เป็นต้น',
          conditions: {
            faculty: 'IF',
            programe: 'CS',
            class: '4'
          },
          narrator: 'บริษัท ClickNext',
          place: '-',
          link: 'www.meet.com',
          dateTrain: '25 มิถุนายน 2565 เวลา 08.00 น.',
          numberOfHours: '6',
          amount: '100',
          datePost: '2022-03-09T09:33:08.508Z'
        }
      ]
    }
  },
  methods: {
    format_date (value) {
      return moment(String(value)).format('MM/DD/YYYY hh:mm')
    }
  }
}
</script>
<style scoped>
@media only screen and (max-width: 385px) {
  h5 {
    font-size: 3vw;
  }
  p {
    font-size: 3vw;
  }
}
.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card-header {
  position: relative;
  padding: 2rem 2rem;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  z-index: 2;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
}
.bg-gray-100 {
  background-color: #f8f9fa !important;
}
body {
  font-family: 'Poppins' !important;
}
.text-primary {
  color: #4650dd !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2;
}
.text-muted {
  color: #6c757d !important;
}
.lead {
  font-size: 1.125rem;
  font-weight: 300;
}
.text-sm {
  font-size: 0.7875rem !important;
}
h3,
.h3 {
  font-size: 1.575rem;
}
.page-holder {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(100vh - 72px);

  flex-wrap: wrap;
}
a {
  color: #4650dd !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.card-profile-img {
  position: relative;
  max-width: 8rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 2;
}
img,
svg {
  vertical-align: middle;
}
.avatar.avatar-lg {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
}
.avatar {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: #dee2e6;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  line-height: 3rem;
}
.form-control {
  color: #343a40;
}
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}
.contentDiv {
  padding-top: 4rem;
}
.card-profile .card-header {
  height: 9rem;
  background-position: center center;
  background-size: cover;
}
</style>
