<template>
  <div>
    <b-button pill variant="outline-primary float-right" @click="addNew"
      >ดูรายละเอียด</b-button
    >
    <b-modal
      centered
      id="modal-ShowDetail"
      ref="modalShowDetail"
      okTitle="ลงทะเบียน"
      cancelTitle="ยกเลิก"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <template #modal-title>
        <h5>{{ form.title }}</h5>
      </template>
      <p><b>ผู้บรรยาย: </b> {{ form.narrator }}</p>
      <p><b>รายละเอียด: </b> {{ form.description }}</p>
      <p><b>ช่องทางการอบรม: </b> {{ form.link }}</p>
      <p><b>วันเวลาอบรม: </b> {{ form.dateTrain }}</p>
    </b-modal>
  </div>
</template>

<script>
export default {
  props: ['train'],
  data () {
    return {
      form: {
        _id: 0,
        title: '',
        description: '',
        conditions: {
          faculty: '',
          programe: '',
          class: ''
        },
        narrator: '',
        place: '-',
        link: '',
        dateTrain: '',
        numberOfHours: '',
        amount: '',
        datePost: ''
      },
      isAddNew: false
    }
  },
  methods: {
    addNew () {
      console.log('clickRegis')
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalShowDetail.show()
    },
    submit () {
      this.$emit('save', JSON.parse(JSON.stringify(this.form)))
      this.reset()
    },
    reset () {
      this.form = {
        _id: 0,
        title: '',
        description: '',
        conditions: {
          faculty: '',
          programe: '',
          class: ''
        },
        narrator: '',
        place: '-',
        link: '',
        dateTrain: '',
        numberOfHours: 0,
        amount: '',
        datePost: ''
      }
    },
    showModal () {
      this.form._id = this.train._id
      this.form.title = this.train.title
      this.form.description = this.train.description
      this.form.conditions.faculty = this.train.conditions.faculty
      this.form.conditions.programe = this.train.conditions.programe
      this.form.conditions.class = this.train.conditions.class
      this.form.narrator = this.train.narrator
      this.form.place = this.train.place
      this.form.link = this.train.link
      this.form.dateTrain = this.train.dateTrain
      this.form.numberOfHours = this.train.numberOfHours
      this.form.amount = this.train.amount
      this.form.datePost = this.train.datePost
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-ShowDetail')
      })
    }
  }
}
</script>
