<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col>
          <b-table striped hover :items="trains" :fields="fields" ref="showHistory">
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button
                @click="deleteProduct(item)"
                class="ml-2"
                variant="danger"
                >ลบ
              </b-button>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    saveProduct (product) {
      console.log(product)
      if (product.id < 0) {
        product.id = this.productId
        this.productItems.push(product)
        this.productId++
      } else {
        const index = this.productItems.findIndex(function (item) {
          return product.id === item.id
        })
        this.productItems.splice(index, 1, product)
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.ProductForm.show()
      })
    },
    deleteProduct (product) {
      console.log(product)
      if (confirm('คุณต้องการลบรายการสินค้านี้หรือไม่')) {
        const index = this.productItems.findIndex(function (item) {
          return product.id === item.id
        })
        this.productItems.splice(index, 1)
      }
    }
  },
  data () {
    return {
      fields: [
        { key: 'title', label: 'title' },
        { key: 'dateTrain', label: ' dateTrain' },
        { key: 'status', label: 'status' }
      ],
      trains: [
        {
          _id: 1,
          title: 'การเขียน Resume',
          description:
            'บริษัท LINE MAN Wongnai Engineering ขยายทีมอย่างยิ่งใหญ่ รับเพิ่มอีกกว่า 200 อัตรา ขอเชิญร่วมงานกับเรา เพื่อพัฒนาแพลตฟอร์มสำหรับธุรกิจอาหารแบบครบวงจรที่มีจำนวนผู้เข้าใช้งานหลายล้านคนต่อเดือน',
          conditions: {
            faculty: 'IF',
            programe: '-',
            class: '4'
          },
          narrator: 'บริษัท SCB',
          place: '-',
          link: 'www.meet.com',
          dateTrain: '30 มิถุนายน 2565 เวลา 08.00 น.',
          numberOfHours: '5',
          amount: '100',
          datePost: '2022-03-09T09:31:29.117Z'
        },
        {
          _id: 2,
          title: 'โครงการ Python Coding Camp+',
          description:
            'ได้รับความอนุเคราะห์จากอาจารย์นิวร ศรีคุณ อาจารย์จากคณะวิทยาศาสตร์ มหาวิทยาลัยบูรพา รศ.ดร.จันทนา ปัญญาวราภรณ์ อาจารย์จากคณะวิศวกรรมศาสตร์ มหาวิทยาลัยบูรพา และอาจารย์วรวิทย์ พูลสวัสดิ์ อาจารย์จากคณะวิทยาศาสตร์และศิลปศาสตร์ มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี ซึ่งเป็นคณะกรรมการตัดสินผลผู้มีประสบการณ์ในการตัดสินผลเป็นอย่างดี ในการร่วมแลกเปลี่ยนประสบการณ์ และแลกเปลี่ยนความคิดเห็นในการพัฒนาโปรแกรม เกณฑ์การตัดสินคะแนนในหมวดต่างๆ พร้อมทั้งให้ข้อเสนอแนะเกี่ยวการการหาหัวข้อในการเขียนข้อเสนอโครงการฯ ซึ่งในการบรรยายพิเศษ อาจารย์ที่ปรึกษา และนิสิต ได้รับข้อมูล และเทคนิค ที่สำคัญในด้านต่างๆ พร้อมทั้งประสบการณ์ใหม่ๆ เพื่อเป็นแนวทางในการเขียนโครงการในปีต่อไป',
          conditions: {
            faculty: 'IF',
            programe: '-',
            class: '1'
          },
          narrator: '@InformaticsBUU',
          place: '-',
          link: 'www.meet.com',
          dateTrain: '25 มิถุนายน 2565 เวลา 08.00 น.',
          numberOfHours: '6',
          amount: '200',
          datePost: '2022-03-09T09:32:07.173Z'
        },
        {
          _id: 3,
          title: 'อบรมการเตรียมตัวอบรมสมัครงาน',
          description:
            'สำหรับ  บริษัท ฟอร์เวิร์ด แมเนจเม้นท์ เซอร์วิส จำกัด ( FMS )  เป็นตัวแทนจำหน่ายโปรแกรมสำเร็จรูป Sage 300,  Sage X3,  Sage CRM   และ SAP Business One ได้ติดตั้งและอบรมการใช้งานโปรแกรมให้กับองค์กรชั้นนำในภาคอุตสาหกรรม ทั้งธุรกิจการผลิต ธุรกิจการจัดจำหน่าย,ธุรกิจอสังหาริมทรัพย์ มานานกว่า 28 ปี  ลูกค้าหลักส่วนหนึ่งของเรา  ได้แก่ Thai PBS, IMPACT, TOYOTA TSUSHO เป็นต้น',
          conditions: {
            faculty: 'IF',
            programe: 'CS',
            class: '4'
          },
          narrator: 'บริษัท ClickNext',
          place: '-',
          link: 'www.meet.com',
          dateTrain: '25 มิถุนายน 2565 เวลา 08.00 น.',
          numberOfHours: '6',
          amount: '100',
          datePost: '2022-03-09T09:33:08.508Z'
        }
      ],
      productId: 11,
      selectedItem: null
    }
  }
}
</script>
<style></style>
